'exception-reporting':
  'userId': 'f6d9e5dd-a890-0ea7-0d47-bcfdca90e541'
'metrics':
  'userId': '78d13bac588a8fc8b6c7e7e5427cd45c06007882'
'welcome':
  'showOnStartup': false
'core':
  'ignoredNames': [
    '.bundle'
    '.git'
    '.DS_Store'
  ]
  'useReactEditor': true
'test-status':
  'Rakefile': '/usr/local/bin/rbenv exec bundle exec rake test'
'runner':
  'scopes':
    'ruby': '/usr/local/bin/rbenv exec ruby'
'tree-view':
  'hideIgnoredNames': true
  'hideVcsIgnoredFiles': true
