# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

"body":
  "ctrl-p": "editor:copy-project-path"

"atom-text-editor":
  "alt-up":   "expand-region:expand"
  "alt-down": "expand-region:shrink"

  # Create an empty split pane
  "cmd-k left":  "pane:split-left"
  "cmd-k right": "pane:split-right"
  "cmd-k up":    "pane:split-up"
  "cmd-k down":  "pane:split-down"

  # Create a split pane with the current pane item moved into it
  "cmd-k m left":  "pane:split-left-and-move-active-item"
  "cmd-k m right": "pane:split-right-and-move-active-item"
  "cmd-k m up":    "pane:split-up-and-move-active-item"
  "cmd-k m down":  "pane:split-down-and-move-active-item"

  # Create a split pane with the current pane item duplicated
  "cmd-k d left":  "pane:split-left-and-copy-active-item"
  "cmd-k d right": "pane:split-right-and-copy-active-item"
  "cmd-k d up":    "pane:split-up-and-copy-active-item"
  "cmd-k d down":  "pane:split-down-and-copy-active-item"

  # Move the current pane item to the target split pane
  "cmd-ctrl-shift-left":  "window:move-active-item-to-pane-on-left"
  "cmd-ctrl-shift-right": "window:move-active-item-to-pane-on-right"
  "cmd-ctrl-shift-up":    "window:move-active-item-to-pane-above"
  "cmd-ctrl-shift-down":  "window:move-active-item-to-pane-below"

"atom-workspace":
  "ctrl-alt-o": "ember-cli-helper:toggle"
  "ctrl-alt-g": "ember-cli-helper:generate-file"
  "cmd-ctrl-shift-e": "ember-cli-helper:switch-file"
  "ctrl-alt-r": "ember-cli-helper:switch-route"
  "ctrl-alt-enter": "ember-cli-helper:open-component"
